
/* The Search Bar */
.searchbox{
    /* General */
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    
    height: 50px;
    width: 35%;
    font-size: 22px;
    align-content: center;
    color: gray;
    padding-left: 30px;
    border: 1px solid #000;
    box-shadow: none;
    /* Rounded Edges */
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
    /* magnifying glass */
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
}
